.order-list {
    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    th {
        text-align: left;
        background-color: rgb(250, 250, 250);
    }

    th, td {
        height: 60px;
        padding: 0;
        padding-left: 10px;
        line-height: 60px;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
    }

    button {
        width: 70px;
        height: 40px;
        background-color: rgb(245, 245, 245);
        border-radius: 4px;
        font-size: 16px;
        color: rgb(206, 69, 77);

        &:hover {
            cursor: pointer;
        }
    }
}