.product-list {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 0;
        margin: 0;

        li {
            width: 200px;
            height: 320px;
            margin: 20px 10px;
            border: 1px solid #ccc;
        }

        .list-item {
            position: relative;

            img {
                width: 100%;
            }

            p {
                margin: 0 0 10px 20px;
                color: rgb(164, 172, 172);
                font-size: 16px;

                &:nth-child(2) {
                    color: black;
                    font-weight: bold;
                    font-size: 28px;
                }
            }

            .add-btn {
                width: 30px;
                height: 30px;
                border: 1px solid #ccc;
                border-radius: 15px;
                position: absolute;
                right: 20px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}