.shop-header {
    background-color: rgb(3, 20, 39);
    height: 80px;
    color: rgb(164, 172, 172);

    ul {
        margin: 0 0 0 80px;
        padding: 0;
        list-style: none;
    }
    
    ul li {
        display: inline-block;
        height: 80px;
        width: 120px;
        line-height: 80px;
        text-align: center;
        font-size: 18px;

        &:hover {
            background-color: rgb(64, 145, 248);
            cursor: pointer;
            color: white;

            a {
                display: inline-block;
                height: 100%;
                color: white;
            }
        }
    }

    .shop-header-item a {
        margin-left: 10px;
        color: rgb(164, 172, 172);
        text-decoration: none;
    }
}