.order {
    height: 100%;
    display: flex;
    flex-direction: column;

    .order-list {
        margin: 40px 100px;
        padding: 40px;
        background-color: white;
        flex: 1;
        overflow: auto;
    }
}