.home {
    height: 100%;
    display: flex;
    flex-direction: column;

    .product-list {
        margin: 40px 30px;
        background-color: white;
        flex: 1;
        overflow: auto;
    }
}