.add-product {
    height: 100%;
    display: flex;
    flex-direction: column;

    .new-product {
        margin: 40px 100px;
        background-color: white;
        flex: 1;
        overflow: auto;
    }
}