.new-product {
    padding: 20px 30px;

    h2 {
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
        font-size: 28px;
    }

    .product-input {
        height: 60px;
        margin-bottom: 30px;
    }

    .product-input > * {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .product-input label {
        margin-bottom: 6px;
        font-size: 18px;
    }

    .product-input label span {
        color: red;
    }

    .product-input input {
        padding-left: 10px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    button {
        width: 70px;
        border-radius: 4px;
        font-size: 16px;

        &:hover {
            cursor: pointer;
        }
    }
}